:root {
    --light-border: #eee;
    --grey-text: #666;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#pattern-tempo {
    cursor: pointer;
}

#pattern-detail {
    display: none;
}

.clearBoth {
    clear: both;
}

#pattern {
    clear: both;
    padding-top: 5px;
}

#patternActions > div {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #4d7ec3;
    border-radius: 4px;
    height: 30px;
}

#patternActions > div > button {
    background: #4d7ec3;
    color: #FFF;
    border: 0;
    height: 30px;
}

#patternActions > div > span {
    padding-right: 2px;
    padding-left: 8px;
}

#patternActions > div svg {
    color: #4d7ec3;
    fill: #4d7ec3;
}

#parts {
    --grid-cols: 1;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

@media (min-width: 350px) {
    #parts {
        --grid-cols: 2;
    }
}

@media (min-width: 800px) {
    #parts {
        --grid-cols: 4;
    }
}

@media (min-width: 1800px) {
    #parts {
        --grid-cols: 8;
    }
}

@media (min-width: 3600px) {
    #parts {
        --grid-cols: 16;
    }
}

.part {
    border: 1px solid #4d7ec3;
    border-radius: 4px;
}

.part .inline {
    display: flex;
    flex-direction: row;
}

.part .inline > div {
    margin-right: 10px;
    border: 1px solid #4d7ec3;
    border-radius: 4px;
    font-size: 12px;
}

.part .inline > div > span {
    padding: 1px 5px;
    text-transform: capitalize;
}

.part .inline > div > span:first-child {
    background: #4d7ec3;
    color: #fff;
}

.part .onOff {
    display: flex;
    flex-direction: row;

    background: rgb(224, 119, 119);
    border-radius: 4px;
    color: #fff;
    padding: 3px 5px;
    margin: 10px 0 1px;
    font-size: 12px;
    font-weight: bold;
}

.part .onOff > div {
    margin-left: 10px;
}

.part .onOff.on {
    background: #69b95e;
}

.part .onOff span {
    color: #555;
    font-size: 12px;
}

.part .envelope > div {
    margin: 5px 0;
}

.part .envelope > div > span {
    border: 1px solid #4d7ec3;
    font-size: 12px;
    padding: 2px 5px;
}

.part .envelope > div > span.label {
    background: #4d7ec3;
    color: #fff;
}

.part .envelope > div.on > span {
    border: 1px solid #69b95e;
}

.part .envelope > div.on > span.label {
    background: #69b95e;
}

.part .envelope > div.off > span {
    border: 1px solid #E07777;
}

.part .envelope > div.off > span.label {
    background: #E07777;
}

.part .envelope > div > span:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.part .envelope > div > span:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.part .content {
    margin: 5px;
}

.part h3 {
    color: #213550;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    border-bottom: 1px solid #4d7ec3;
    background-color: #f2f6fd;
    padding: 1px;
    margin-top: 0;
    text-transform: uppercase;
}

.part h4 {
    margin: 10px 0 1px;
}

.part h4 span {
    color: #555;
    font-size: 12px;
}

.part h4 span[title] {
    cursor: help;
}

.topBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 26px;
    font-weight: bold;
    color: #8a9ebb;
    cursor: pointer;
}

#mainView {
    display: block;
}

.view {
    display: none;
}

.info {
    border-left: 8px solid var(--light-border);
    padding-left: 15px;
    color: var(--grey-text);
    text-align: justify;
}

#edit-name {
    display: none;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#pattern-name {
    cursor: pointer;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.loader + span {
    color: #555;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gitFile {
    padding: 10px 0;
    cursor: pointer;
}

.gitFile:hover {
    background: #eee;
}
